<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>EQ Menu</title>
    </head>
    <body>
        <p>
            <a th:href="@{/rf/greeting}">1 - (RF) Radio Frequency</a><br/>
        </p>
        <p>
            <a th:href="@{/batch/greeting}">2 - (BATCH) Audit Batch</a><br/>
        </p>
        <p>
            <a th:href="@{/login?logout}">Logout</a><br/>
        </p>
    </body>
</html>